@font-face {
  font-family: "Molle";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/molle/v25/E21n_dL5hOXFhWEsbz8sVg.woff2")
    format("woff2");
}

:root {
  font:
    16px/1.5 system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root,
.app {
  min-height: 100vh;
}
